* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  align-items: center;
  padding-top: 40px;
  background-color: teal;
}

p {
  text-align: center;
  font-size: 40px;
  color: cornflowerblue;
}
